{
  "parser": "babel-eslint",
  "extends": "google",
  "rules": {
    "max-len": [2, 200],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"],
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "indent": ["error", 2],
    "no-multi-spaces": "off",
    "require-jsdoc": "off"
  }
}